<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!-- Include meta tag to ensure proper rendering and touch zooming -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Include jQuery Mobile stylesheets -->
<link rel="stylesheet"
	href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<!-- Include the jQuery library -->
<link rel="stylesheet" href="../public/css/style.css"
	th:href="@{/css/style.css}" />
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Include the jQuery Mobile library -->
<script
	src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="../public/js/scripts.js" th:src="@{/js/scripts.js}"></script>
</head>
<body>

	<div data-role="page" id="mainpage">

		<div data-role="header">
			<h1>Highscore API manager</h1>
		</div>


		<div data-role="main" class="ui-content">
			<h3 class="text-center" style="text-align: center">Welcome to
				our Multigame highscore manager environment!</h3>
			<!-- 
      
      Three grid system to divide page into 3 equal pages
  -->
			<div class="ui-grid-b ui-responsive">
				<div class="ui-block-a">
					<a href="#highscore" class="ui-btn ui-corner-all ui-shadow">All
						games highscore</a><br /> <span>View top players in different
						games</span>

				</div>

				<div class="ui-block-b">
					<a href="#register" class="ui-btn ui-corner-all ui-shadow">Register
						for our service</a><br /> <span>Go to the register page</span>
				</div>
				<div class="ui-block-c">

					<!-- 
      
        Form to login into service and add/delete games
    -->
					<a href="#handleAccount" class="ui-btn ui-corner-all ui-shadow">User
						control panel</a><br /> <span>Submit, edit, delete and view
						your scores.</span>


				</div>
			</div>
			<br /> <br /> <br /> <br /> <br /> <br /> <br />
			<div class="ui-grid-solo">
				<h1>Login</h1>
				<br />
				<form th:action ="@{/}" method="post">
					<label for="username">Username:</label>
					<input type="text" name="username" id="username" value="Your username here" />
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" value="Your password here" />
					<button type="submit" class="ui-btn ui-shadow">Login</button>
				</form>
			</div>
		</div>

		<div data-role="footer">
			<h1>Copyright</h1>
		</div>
	</div>


	<!-- 
      
      Register page, to register into service
  -->
	<div data-role="page" id="register">
		<div data-role="header">
			<a href="/"
				class="ui-btn ui-btn-inline ui-icon-home ui-btn-icon-left">Home</a>
			<h1>Register account</h1>
		</div>

		<div data-role="main" class="ui-content">
			<h3 class="text-center" style="text-align: center">Enter your
				ingame name and in return you will get unique player ID!</h3>
			<label for="text-basic">You name in game: </label> <input type="text"
				name="registerPlayer" id="registerPlayer" value="" />
			<button class="ui-btn ui-btn-inline" id="registerButton">Register!</button>
			<label id="registerLabel" for="text-basic" style="display: none">Your
				unique user ID is: <input type="text" name="country" value="test"
				th:readonly="true" id="inputText" />
			</label>
		</div>
		<div data-role="footer">
			<h1>Copyright</h1>
		</div>
	</div>


	<!-- 
      
      Highscore service to get all games or by name.
  -->
	<div data-role="page" id="highscore">
		<div data-role="header">
			<a href="/"
				class="ui-btn ui-btn-inline ui-icon-home ui-btn-icon-left">Home</a>
			<h1>Highscores</h1>
		</div>

		<div data-role="main" class="ui-content">
			<h3 class="text-center" style="text-align: center">Welcome to
				the highscore page!!</h3>
			<div class="ui-grid-a ui-responsive">
				<div class="ui-block-a">
					<a href="#" class="ui-btn ui-btn-b"
						style="pointer-events: none; cursor: default;">Search game
						high score by game name</a>
					<div class="ui-field-contain">
						<label for="textinput-1">Game Title:</label> <input type="text"
							name="textinput-1" id="gameTitle" placeholder="Enter game title"
							value="" />
					</div>
					<div class="ui-field-contain">
						<label for="slider-1">Amount:</label> <input type="range"
							name="slider-1" id="slider-value" value="50" min="0" max="100"
							data-highlight="true" />
					</div>
					<div class="ui-field-contain">
						<label for="submit-1">Get highscore:</label>
						<button type="submit" id="get-highscore"
							class="ui-shadow ui-btn ui-corner-all">Submit</button>
					</div>

					<form>
						<input id="filterTable-input" data-type="search" />
					</form>
					<table data-role="table" id="highscore-table" data-filter="true"
						data-input="#filterTable-input" class="ui-responsive">
						<thead>
							<tr>
								<th data-priority="1">Rank</th>
								<th data-priority="persist">Player name</th>
								<th data-priority="2">Score</th>
								<th data-priority="2">Game Title</th>
							</tr>
						</thead>
						<tbody id="highscorePage">

						</tbody>
					</table>
				</div>

				<div class="ui-block-b">
					<a href="#" class="ui-btn ui-btn-b"
						style="pointer-events: none; cursor: default;">Search a player
						by name</a>
					<div class="ui-field-contain">
						<label for="textinput-1">Player name:</label> <input type="text"
							name="textinput-1" id="player-name"
							placeholder="Enter player name" value="" />
					</div>

					<div class="ui-field-contain">
						<label for="submit-1">Get highscore:</label>
						<button type="submit" id="get-player-highscore"
							class="ui-shadow ui-btn ui-corner-all">Submit</button>
					</div>
					<form>
						<input id="filterTable-input" data-type="search" />
					</form>
					<table data-role="table" id="highscore-table" data-filter="true"
						data-input="#filterTable-input" class="ui-responsive">
						<thead>
							<tr>
								<th data-priority="1">Rank</th>
								<th data-priority="persist">Player name</th>
								<th data-priority="2">Score</th>
								<th data-priority="2">Game Title</th>
							</tr>
						</thead>
						<tbody id="playerHighscore">

						</tbody>
					</table>


				</div>

			</div>
		</div>
		<div data-role="footer">
			<h1>Copyright</h1>
		</div>

	</div>

	<div data-role="page" id="handleAccount">
		<div data-role="header">
			<a href="/"
				class="ui-btn ui-btn-inline ui-icon-home ui-btn-icon-left">Home</a>
			<h1>Manage account</h1>
		</div>

		<div data-role="main" class="ui-content">
			<h3 class="text-center" style="text-align: center">Here you can
				add new, update or delete scores. Also view all your scores or even
				delete your account</h3>
			<div class="ui-grid-b ui-responsive">
				<div class="ui-block-a">
					<a href="#" class="ui-btn ui-btn-b"
						style="pointer-events: none; cursor: default;">Add new score
						to database</a>
					<div class="ui-field-contain">
						<label for="textinput-1">Game Title:</label> <input type="text"
							name="textinput-1" id="submitGameTitle"
							placeholder="Enter game title" value="" />
					</div>
					<div class="ui-field-contain">
						<label for="slider-1">Score:</label> <input type="number"
							name="textinput-1" id="submitScoreAmount"
							placeholder="Enter score" value="" />
					</div>
					<div class="ui-field-contain">
						<label for="textinput-1">Player id:</label> <input type="text"
							name="textinput-1" id="submitPlayerId"
							placeholder="Enter your player id" value="" />
					</div>
					<div class="ui-field-contain">
						<label for="submit-1">Add to highscore:</label>
						<button type="submit" id="submit-score"
							class="ui-shadow ui-btn ui-corner-all">Submit</button>
					</div>

					<br /> <br /> <br /> <br /> <a href="#" class="ui-btn ui-btn-b"
						style="pointer-events: none; cursor: default;">Update your
						score</a>
					<div class="ui-field-contain">
						<label for="textinput-1">Game Title:</label> <input type="text"
							name="textinput-1" id="updateGameTitle"
							placeholder="Enter game title" value="" />
					</div>
					<div class="ui-field-contain">
						<label for="slider-1">Score:</label> <input type="number"
							name="textinput-1" id="updateScoreAmount"
							placeholder="Enter score" value="" />
					</div>
					<div class="ui-field-contain">
						<label for="textinput-1">Player id:</label> <input type="text"
							name="textinput-1" id="updatePlayerId"
							placeholder="Enter your player id" value="" />
					</div>
					<div class="ui-field-contain">
						<label for="submit-1">Update highscore:</label>
						<button type="submit" id="update-score"
							class="ui-shadow ui-btn ui-corner-all">Update</button>
					</div>

				</div>

				<div class="ui-block-b">
					<a href="#" class="ui-btn ui-btn-b"
						style="pointer-events: none; cursor: default;">Get all games
						in database with playerId</a>
					<div class="ui-field-contain">
						<label for="slider-1">Player id:</label> <input type="text"
							name="textinput-1" id="getAllTopScores"
							placeholder="Enter player id" value="" />
					</div>
					<div class="ui-field-contain">
						<label for="submit-1">Get all top scores:</label>
						<button type="submit" id="get-scores"
							class="ui-shadow ui-btn ui-corner-all">Submit</button>
					</div>

					<br />
					<form>
						<input id="filterTable-input" data-type="search" />
					</form>
					<table data-role="table" id="highscore-table" data-filter="true"
						data-input="#filterTable-input" class="ui-responsive">
						<thead>
							<tr>
								<th data-priority="1">Game Title</th>
								<th data-priority="persist">Score</th>
								<th data-priority="2">Player name</th>

							</tr>
						</thead>
						<tbody id="playerTopScores">

						</tbody>
					</table>
				</div>
				<div class="ui-block-c">
					<a href="#" class="ui-btn ui-btn-b"
						style="pointer-events: none; cursor: default;">Remove specific
						game from database</a>
					<div class="ui-field-contain">
						<label for="textinput-1">Game Title:</label> <input type="text"
							name="textinput-1" id="removeGameTitle"
							placeholder="Enter game title" value="" />
					</div>
					<div class="ui-field-contain">
						<label for="textinput-1">Player id:</label> <input type="text"
							name="textinput-1" id="removePlayerId"
							placeholder="Enter your player id" value="" />
					</div>
					<div class="ui-field-contain">
						<label for="submit-1">Remove from highscore:</label>
						<button type="submit" id="remove-score"
							class="ui-shadow ui-btn ui-corner-all">Remove</button>
					</div>

					<br /> <br /> <br /> <br /> <a href="#" class="ui-btn ui-btn-b"
						style="pointer-events: none; cursor: default;">Delete account
						and all its games</a>
					<div class="ui-field-contain">
						<label for="textinput-1">Player id:</label> <input type="text"
							name="textinput-1" id="deletePlayerId"
							placeholder="Enter your player id" value="" />
					</div>
					<div class="ui-field-contain">
						<label for="submit-1">Delete your account:</label>
						<button type="submit" id="delete-score"
							class="ui-shadow ui-btn ui-corner-all">Delete</button>
					</div>

				</div>
			</div>
		</div>
		<div data-role="footer">
			<h1>Copyright</h1>
		</div>
	</div>


</body>
</html>
